body {
	background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#titleRectangle {
	position: relative;
    background: rgba(241, 190, 72, 0.897);
	border-radius: 25px;
}

#titleText {
	font-family: Lucida Handwriting;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	font-size: 45px;
	color: black;
}

.promoText {
	color: black;
	font-family: Lucida Handwriting;
	text-align: left;
	font-size: 40px;
    margin-left: 30px;
}

#articlesRectangle{
	position: relative;
    background: rgba(241, 190, 72, 0.774);
	display: grid;
	place-items: left;
	border-radius: 25px;
}

#buyersText {
	color: black;
	font-family: Lucida Handwriting;
	text-align: left;
	font-size: 40px;
}

.searchText {
	color: black;
	font-weight: bold;
	padding-right: 13px;
	font-size: 13pt;
}

.actionBtn {
	cursor: pointer;
	color: black;
	font-weight: 200;
	background-color: rgb(241, 190, 72);
	width: 180px;
	height: 40px;
	font-size: 15px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
	font-weight: bold;
	float: right;
	margin-top: 0.5%;
	margin-right: 1%;
}

.inputBox {
	border-radius: 15px;
	text-align: left;
	height: 20px;
	background-color: rgb(199, 207, 199);
	font-size: 13pt;
}

#inputBox {
	border-radius: 15px;
	text-align: left;
	height: 20px;
	background-color: rgb(199, 207, 199);
	font-size: 13pt;
}

.inputBoxes {
	border-radius: 15px;
	text-align: left;
	height: 20px;
	background-color: rgb(199, 207, 199);
	font-size: 17pt;
    margin: 5px;
    width: 400px;
}

.dropdownBoxes {
	border-radius: 15px;
	text-align: left;
	height: 33px;
	width: 165px;
	background-color: rgb(199, 207, 199);
	font-size: 13pt;
	cursor: pointer;
}

input, select {
	padding: 5px;
    margin: 1px;
}

#searchIcon {
	width: 27px;
	height: 27px;
	position: relative;
	top: 14px;
	right: 2px;
}

#searchIcon2 {
	width: 27px;
	height: 27px;
	position: relative;
	top: 14px;
	right: 2px;
}

#articlesTable {
	border-spacing: 0px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
	font-family: Georgia, serif;
	text-align: center;
	background-color: rgba(199, 207, 199, 0.76);
	color: black;
	font-size: 12pt;
	margin: 10px;
}

#articlesTable td, #articlesTable th {
	padding: 15px;
	border-bottom: 1px solid rgb(177, 135, 38);
}

#articlesTable tr.selected {
	background: lightblue;
}

#articlesTable tr {
	cursor: pointer;
}

#usersTable {
	border-spacing: 0px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
	font-family: Georgia, serif;
	text-align: center;
	background-color: rgba(199, 207, 199, 0.76);
	color: black;
	font-size: 12pt;
	margin: 10px;
}

#usersTable td, #usersTable th {
	padding: 15px;
	border-bottom: 1px solid rgb(177, 135, 38);
}

#usersTable tr.selected {
	background: lightblue;
}

#usersTable tr {
	cursor: pointer;
}

#commentsTable {
	border-spacing: 0px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
	font-family: Georgia, serif;
	text-align: center;
	background-color: rgba(199, 207, 199, 0.76);
	color: black;
	font-size: 12pt;
	margin: 10px;
}

#commentsTable td, #commentsTable th {
	padding: 15px;
	border-bottom: 1px solid rgb(177, 135, 38);
}

#commentsTable tr.selected {
	background: lightblue;
}

#commentsTable tr {
	cursor: pointer;
}

.menuBtns {
	color: black;
	font-weight: 200;
	background-color: rgb(241, 190, 72);
	width: 110px;
	height: 40px;
	font-size: 15px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
	font-weight: bold;
	float: right;
	margin-top: 0.5%;
	margin-right: 1%;
	cursor: pointer;
}

#profileRectangle{
	position: relative;
    background: rgba(241, 190, 72, 0.774);
	display: grid;
	place-items: left;
	border-radius: 25px;
    padding-bottom: 100px;
}

.container {
    display: block;
    width: auto;
}

.container-pic {
    display: block;
    background: rgba(199, 207, 199, 0.76);
    width: 210px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 30px;
    border-radius: 25px;
    float: left;
    height: 210px;
    border-spacing: 0px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
}

.container-data-labels {
    background: rgba(199, 207, 199, 0.76);
    width: 200px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    float: left;
    height: 210px;
    border-spacing: 0px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
}

.container-data-data {
    background: rgba(199, 207, 199, 0.76);
    width: auto;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    float: left;
    height: 210px;
    position: relative;
    border-spacing: 0px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
}

.label {
    color: black;
	font-size: 19.5pt;
    padding-bottom: 5px;
    margin: 5px;
    height: 20px;
}

.location {
    display: block;
	border-spacing: 0px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
	font-family: Georgia, serif;
	text-align: center;
	background-color: rgba(199, 207, 199, 0.76);
	color: black;
	font-size: 12pt;
    margin: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.navBtn {
	color: black;
	font-weight: 200;
	background-color: rgb(241, 190, 72);
	width: 200px;
	height: 40px;
	font-size: 15px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
	font-weight: bold;
	float: none;
	cursor: pointer;
	margin: 5px;
}

.map {
	padding: 10px;
	margin: 30px;
	width: 80%;
	height: 400px;
	border-spacing: 0px;
	border-style: ridge;
	border-radius: 15px;
	border-color: rgb(214, 164, 45);
	border-width: 3px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}